<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="form-group">
        <%= link_to "#{t('signinwith')} #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: 'btn btn-primary btn-hawk-social form-control'  %><br />
    </div>
  <% end -%>
<% end -%>