  <div>
    <strong style="padding-left:1em">Arraste o círculo para escolher quanto deseja investir</strong>
    <br><br>
    <%= form_tag('/posts') do %>
      <div class="card text-white bg-info mb-3">
        <div class="card-body">
          <div class="row" style="padding-top: 20px;">
            <div class="col-sm-1"></div>
            <%= image_tag('DoubleArrow.png', height: '20', width: '17') %>
            <div class="col-sm-10">
              <div class="""slidecontainer">
                  <input type="range" min="10" max="1000" value="1" class="slider" id="myRange">
                <p><span id="demo"></span> $</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div><%= submit_tag 'Investir' %></div>
    <% end %>
  </div>
</div>
