<div class="col-md-7">
  <div id="desktop-menu">
    <ul class="nav">
      <li class="nav-item col-md-3">
        <a class="nav-link btn btn-light" href="#" id="my_desktop">Meu Desktop</a>
      </li>
      <li class="nav-item  col-md-3">
        <a class="nav-link btn  btn-light" href="#">Minha Equipe</a>
      </li>
      <li class="nav-item  col-md-3">
        <a class="nav-link btn  btn-light" href="#">Configurações</a>
      </li>
      <li class="nav-item  col-md-3">
        <a class="nav-link btn btn-warning" href="#">Investir Agora</a>
      </li>
    </ul>
  </div>
  <div>
    <div id="grafico" style="padding-bottom: 10px">

    </div>
    <div id="my_investiments" >
      <h5>Meus investimentos</h5>
      <table class="table  table-striped">
        <thead>
          <tr class="bg-info" style="color:white;">
            <th>#</th>
            <th>Method</th>
            <th>Date</th>
            <th>Value</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>B12442</th>
            <td>Bitcoin</td>
            <td>Jul, 2, 2018 21:00</td>
            <tH>0.01551 BTC</th>
            <td><span class="badge badge-success">Successful</span></td>
          </tr>
          <tr>
            <th>P12442</th>
            <td>Paypal</td>
            <td>Jul, 2, 2018 21:00</td>
            <tH>20.00 $</th>
            <td><span class="badge badge-success">Successful</span></td>
          </tr>
          <tr>
            <th>MP12442</th>
            <td>Mercado Pago</td>
            <td>Jul, 2, 2018 21:00</td>
            <tH>R$ 80,00</th>
            <td><span class="badge badge-success">Successful</span></td>
          </tr>
          <tr>
            <th>B12442</th>
            <td>Bitcoin</td>
            <td>Jul, 2, 2018 21:00</td>
            <tH>0.11 BTC</th>
            <td><span class="badge badge-success">Successful</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
