<div class="col-md-3">
  <div style="padding-bottom: 40px">
    <h2><%= current_user.email %></h2>
    <span class="badge badge-pill badge-secondary">Investidor</span>
  </div>
  <div style="padding-bottom: 10px">
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
      <div class="card-header"><strong>Minhas notificações</strong></div>
      <div class="card-body">
        <h5 class="card-title">Login bem-sucedido</h5>
        <p class="card-text">Bem-vindo de volta a sua conta pessoal! Seu IP agora é: 212.2.242.442.</p>
      </div>
    </div>
  </div>
  <div style="padding-bottom: 10px">
    <div class="card  text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header"><strong>Meu investimento</strong></div>
      <div class="card-body">
        <h1 class="card-title">60.00 $</h1>
      </div>
    </div>
  </div>
  <div  style="padding-bottom: 10px">
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-7">
            <strong>Disponível</strong>
          </div>
          <div class="col-sm-5">
            <a href="#" style="color:#13a4b9;">Histórico</a>
          </div>
        </div>
      </div>

      <div class="card-body text-info">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="card-title">1.00 $</h2>
          </div>
          <div class="col-sm-6">
            <a class="nav-link btn btn-info col" href="#">Saque</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>