<div class="col-md-7">
  <div id="desktop-menu"  style="padding-bottom: 60px">
    <ul class="nav">
      <li class="nav-item col-md-3">
        <%= link_to "Meu Desktop", desktop_path, class: "nav-link btn btn-light" %>
      </li>
      <li class="nav-item  col-md-3">
        <a class="nav-link btn  btn-light" href="#">Minha Equipe</a>
      </li>
      <li class="nav-item  col-md-3">
        <a class="nav-link btn  btn-light" href="#">Configurações</a>
      </li>
      <li class="nav-item  col-md-3">
        <%= link_to "Investir Agora", operation_path, class: "nav-link btn btn-warning" %>
      </li>
    </ul>
  </div>