<div class="row" style="padding-top: 40px">
  <div class="col-md-1"></div>
  <%= render "account/painel_left" %>
  <%= render "account/sub_menu" %>
  <%= render "account/deposit" %>
  <div class="col-md-1"></div>
</div>
